<html>
    <head>
        <title>Vue</title>
    </head>
    
    
    <style>
        .square {
            border: 2px solid transparent;
            height: 50px;
            width: 50px;
        }
    </style>

    <body>

        <div id="app">
            <table width="100%" cellpadding="20">
                <tr>
                    <td width="40%" valign="top">
                        <h1>Vue</h1>
                        <hr />

                        <h2>Variants</h2>
                        <div v-for="variant in variants">
                            <div class="square" :style="{ backgroundColor: variant.variantHex }" @mouseover="updateImage(variant.variantImg, variant.variantName)"></div>
                        </div>

                        <hr />

                        <button v-on:click="addToCart">Add to cart</button>
                        <button v-on:click="clearCart">Clear cart</button>
                        Cart ({{ cart }})

                        <hr />

                        <h2>Lists:</h2>
                        <ul>
                            <li v-for="items in gallery" :key="items.id">
                                {{items.name}} - ${{items.price}}
                            </li>
                        </ul>
                    </td>


                    <td>
                        <h2>{{product}}</h2>

                        <div style="width: 100%;">
                            <h2>Inventory: {{inventory}}</h2>
                            <div v-if="inventory >= 2">
                                <a :href="url" />
                                    <img style="width: 100%;" :src="image" :alt="altText" :class="className" />
                                </a>
                            </div>

                            <div v-else-if="inventory === 1">
                                Only 1 left!!
                                <a :href="url" />
                                    <img style="width: 100%;" :src="image" :alt="altText" :class="className" />
                                </a>
                            </div>
                            
                            <div v-else="inStock">
                                Image has been sold
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- <script src="./app.js"></script> -->
        <script>
        
            const app = new Vue({
                el: '#app',
                data: {
                    product: 'Ocean',
                    image: './assets/hero.jpg',
                    className: 'hero',
                    altText: 'ocean at dusk',
                    url: 'https://images.unsplash.com/photo-1552671641-8cbdd17c492e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80',
                    inStock: true,
                    inventory: 32,
                    gallery: [
                        {
                            id: 0,
                            name: 'Portrait #1',
                            price: 325532,
                        },
                        {
                            id: 1,
                            name: 'Portrait #2',
                            price: 325532,
                        },
                        {
                            id: 2,
                            name: 'Portrait #3',
                            price: 325532,
                        }
                    ],
                    variants: [
                        {
                            variantName: 'Dark',
                            variantHex: '#000000',
                            variantId: 'dark__01',
                            variantImg: './assets/variant__dark.jpg'
                        },
                        {
                            variantName: 'Bright',
                            variantHex: 'magenta',
                            variantId: 'bright__01',
                            variantImg: './assets/variant__bright.jpg'
                        }
                    ],
                    cart: 0
                },
                methods: {
                    addToCart() {
                        this.cart += 1
                    },
                    clearCart() {
                        this.cart = 0
                    },
                    updateImage(img, product, style) {
                        this.image = img,
                        this.product = product,
                        this.style = 'hovered'
                    }
                }
            })    

        </script>
    </body>
</html>